{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h4 class="display-5 text-center">Регистрация участника конференции</h4>
	<div class="row">
		<div class="col-md-6 mx-auto mb-5 text-danger text-center">
			<span>
	         	На Ваш адрес электронной почты отправлено письмо подвереждения регистрации. Если письмо подтверждения не пришло, проверьте папку спам.
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mx-auto mb-5 text-center">
			<a href="{% url 'home' %}">На главную</a>
		</div>
	</div>
{% endblock %}