{% extends "base.html" %}
{% load objects_extras %}
{% load static %}

{% block content %}
	{% if not request.user.is_authenticated %}
		<div class="text-center ">
			<p class="mb-0">Государственное автономное профессиональное</p>
			<p class="mb-0">образовательное учреждение Московской области</p>
			<p class="mb-2">«Московский Губернский колледж искусств»</p>


			<h4>семинар</h4>

			<h1>«АКТУАЛЬНЫЕ ВОПРОСЫ ВЗАИМОДЕЙСТВИЯ <br>ДШИ, ДХШ И ОРГАНИЗАЦИЙ СПО»</h1>


			<h4 class="text-primary">7 октября 2025 года в 11:00</h4>
		</div>

		{% if register_flag %}
			<div class="text-center mt-5">
				<h4><a href="{% url 'register' %}" class="text-danger" style="font-size: 200%; border: 1px solid #aaaaaa; padding: 15px; border-radius: 15px;-webkit-box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.42); box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.42);">Зарегистрироваться</a></h4>
			</div>
			<div class="text-center mt-5 pb-5">
				<h4>Регистрация закончится 6 октября 2025 года в 23:59 (по московскому времени).</h4>
			</div>
		{% else %}
			<div class="text-center mt-5 pb-5 text-danger">
				<h4>Регистрация завершена</h4>
			</div>
		{% endif %}


		<div class="m-5">
			<h4 class="mb-0">Мероприятие состоится в Талдомском филиале ГАПОУ МО МГКИ по адресу:</h4>
			<h4><b>Московская область, г.Талдом, ул.Победы, д.29.</b></h4>

			<h4>
				К рассмотрению предлагаются следующие актуальные вопросы:
				<ol>
					<li>Навигатор абитуриента: тенденции в СПО, подготовка к поступлению выпускников ДШИ и ДХШ. </li>
					<li>Конкурсная деятельность как фактор творческого развития обучающихся Детских школ искусств и Детских художественных школ. </li>
					<li>Совершенствование профессиональных компетенций преподавателей изобразительного искусства в ДШИ, ДХШ и СПО. </li>
					<li>Открытый микрофон.</li>
				</ol>
			</h4>

			<h4>
				К участию в семинаре приглашаются руководители, заместители руководителей и работники учебно-методических объединений, организаций ДШИ и ДХШ.
			</h4>

			<h4 class="mt-5"> Справки по вопросам организации и проведения семинара: <b>+7 (909) 961-57-80</b></h4>
		</div>
	{% else %}
		
		<div class="text-center pb-5">
			<p class="mb-0">Государственное автономное профессиональное</p>
			<p class="mb-0">образовательное учреждение Московской области</p>
			<p class="mb-2">«Московский Губернский колледж искусств»</p>

			<h4>семинар</h4>

			<h1>«АКТУАЛЬНЫЕ ВОПРОСЫ ВЗАИМОДЕЙСТВИЯ <br>ДШИ, ДХШ И ОРГАНИЗАЦИЙ СПО»</h1>


			<h4 class="text-primary">7 октября 2025 года в 11:00</h4>
			<div class="text-center mt-5">
				<h4 class="text-danger" style="font-size: 200%;">Вы {{ request.user.profile.status }} семинара</h4>
			</div>

			<!-- {% if request.user.profile.section %}
				<p class="text-primary">Ваша секция: <u>{{ request.user.profile.section }}</u></p>
			{% endif %}

			{% if request.user.profile.certificate_file %}
				<h3 class="text-center mt-5">Сертификат: <a href="{{ request.user.profile.certificate_file.url }}" target="_blank">скачать...</a></h3>
			{% endif %} -->
		</div>
		{% if not request.user.profile.admin_access and not request.user.profile.moderator_access and not request.user.profile.message_accecc %}
			<div class="m-5">
				<h4 class="mb-0">Мероприятие состоится в Талдомском филиале ГАПОУ МО МГКИ по адресу:</h4>
				<h4><b>Московская область, г.Талдом, ул.Победы, д.29.</b></h4>

				<h4>
					К рассмотрению предлагаются следующие актуальные вопросы:
					<ol>
						<li>Навигатор абитуриента: тенденции в СПО, подготовка к поступлению выпускников ДШИ и ДХШ. </li>
						<li>Конкурсная деятельность как фактор творческого развития обучающихся Детских школ искусств и Детских художественных школ. </li>
						<li>Совершенствование профессиональных компетенций преподавателей изобразительного искусства в ДШИ, ДХШ и СПО. </li>
						<li>Открытый микрофон.</li>
					</ol>
				</h4>

				<h4>
					К участию в семинаре приглашаются руководители, заместители руководителей и работники учебно-методических объединений, организаций ДШИ и ДХШ.
				</h4>

				<h4 class="mt-5"> Справки по вопросам организации и проведения семинара: <b>+7 (909) 961-57-80</b></h4>
			</div>
		{% endif %}

		<!-- {% if not request.user.profile.section and not request.user.profile.org_accecc %}
			<div class="row align-middle pt-5" id="section_container">
				<div class="col-md-6 mx-auto mb-5">
					<p class="text-danger text-center mb-0">
						До подтверждения адреса Вашей электронной почты изменился состав секций.
					</p>
					<p class="text-danger text-center">
						<b>Пожалуйста выберите секцию.</b>
					</p>
					<div id="section_form">
						{{ section_form.as_p }}
					</div>

					<div class="text-right">
						<input type="button" value="Сохранить" id="set_section">
					</div>
				</div>
			</div>
		{% endif %} -->

		{% if request.user.profile.message_accecc %}
			<div class="row align-middle px-5">
				<div class="col-md-3 text-left mb-5">
					<input type="button" value="Разослать оповещения" name="addfile" id="send_message" class="show-loader">
				</div>
				<div class="col-md-9 text-right mb-5">

					<input type="submit" value="Сформировать сертификаты" name="create_sert" data-toggle="modal" data-target="#full_creation">
					<input type="submit" value="Разослать сертификаты" name="send_sert" id="send_sert">
					<input type="submit" value="Удалить сертификаты" name="delete_sert" id="delete_sert">
				</div>
			</div>
		{% endif %}

		{% if request.user.profile.moderator_access %}
			<!-- <table class="table">
				<tbody>

					<tr class="filter-table">
						<td scope="row" class="align-middle text-center" width="{{ width_column }}%" data-pk="">Все</td>
						<td scope="row" class="align-middle text-center" width="{{ width_column }}%" data-pk="A">Орг. комитет</td>
						{% for section in sections %}
							<td scope="row" class="align-middle text-center" width="{{ width_column }}%" data-pk="{{ section.pk }}">{{ section }}</td>
						{% endfor %}
						<td scope="row" class="align-middle text-center" width="{{ width_column }}%" data-pk="B">Остальные</td>
					</tr>
					<tr class="filter-table filter-table-italic">
						<td scope="row" class="align-middle text-center" width="{{ width_column }}%">{{ members|length }} чел.</td>
						<td scope="row" class="align-middle text-center" width="{{ width_column }}%">{{ super_count }} чел.</td>
						{% for section in sections %}
							<td scope="row" class="align-middle text-center" width="{{ width_column }}%">{{ section_count|lookup:section.pk }} чел.</td>
						{% endfor %}
						<td scope="row" class="align-middle text-center" width="{{ width_column }}%">{{ none_count }} чел.</td>
					</tr>
				</tbody>
			</table> -->
			<div class="text-left mt-3 px-5">
				<b>СПИСОК УЧАСТНИКОВ</b>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="table-cel-width-5 align-middle">№</th>
							<th scope="col" class="table-cel-width-25 align-middle">Фамилия Имя Отчетво<br>Телефон<br>E-mail</th>
							<th scope="col" class="table-cel-width-25 align-middle">Организация<br>Отдел/факультет/кафедра</th>
							<th scope="col" class="table-cel-width-15 align-middle">Должность<br>Ученая степень/ученое звание</th>
							<th scope="col" class="table-cel-width-25 align-middle text-center">Форма участия<br>Секция</th>
							<th scope="col" class="table-cel-width-10 align-middle text-center">Сертификат</th>
						</tr>
					</thead>
					<tbody>
						{% for member in members %}
							<tr class="members" data-pk="{% if member.org_accecc %}A{% elif member.section_pk %}{{ member.section_pk }}{% else %}B{% endif %}">
								<th scope="row" class="align-middle">{{ forloop.counter}}</th>
								<td class="align-middle"><b>{{ member.name }}</b><br>{{ member.phone }}<br><em>{{ member.email }}</em></td>
								<td class="align-middle"><b>{{ member.work_place }}</b><br><em>{{ member.work_part }}</em></td>
								<td class="align-middle"><b>{{ member.position }}</b><br><em>{{ member.degree }}</em></td>
								<td class="align-middle text-center"><a href="{{ member.pk }}" class="status-cell" data-status="{{ member.status_code }}">{{ member.status }}</a></td>
								<td class="align-middle text-center">
									{% if member.cert %}
										№ {{ member.cert_num }}<br>
										<a href="{{ member.cert.url }}" target="_blank">скачать</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if users %}
				<div class="row align-middle px-5">
					<div class="col-md-12 text-right pb-3">
						<form action="" method="post"> {% csrf_token %}
							<input type="submit" value="Выгрузить список">
						</form>
					</div>
				</div>
			{% endif %}
			</div>
		{% endif %}

		<!-- Modal -->
		<div class="modal fade bd-example-modal-lg" id="full_creation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Формирование сертификатов для всех участников</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row align-middle mt-3 cert-popup">
							<div class="col-md-4 mt-3">
								{{ form.iterable.label_tag }}
								{{ form.iterable }}
							</div>
							<div class="col-md-4 mt-3">
								{{ form.divider.label_tag }}
								{{ form.divider }}
							</div>
							<div class="col-md-4 mt-3">
								{{ form.noniterable.label_tag }}
								{{ form.noniterable }}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
						<button type="button" class="btn btn-primary" disabled id="all_creation" data-dismiss="modal">Сформировать</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="section_warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row align-middle mt-3 cert-popup text-center  text-danger">
							<h3 class="text-center col-md-12">
								Выберите секцию.
							</h3>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#send_message').click(function (){
				
				window.location.href = "{% url 'mailing:send_info_message' %}";
			});
		});

		$(document).ready(function() {
			$('#id_iterable').change(function (){
				$('#all_creation').removeAttr('disabled');
			});
		});


		$(document).ready(function() {
			$('#all_creation').click(function(){
				$('.content-blocker').show();
				$.ajax({
					url: "{% url 'certificates:generate_sertificates' %}",
					data: {
						'field1': $('#id_iterable').val(),
						'field2': $('#id_divider').val(),
						'field3': $('#id_noniterable').val(),
					},
					success: function(data){
						result = $.parseJSON(data);
						$('.content-blocker').hide();
						alert("Сертификаты сформированы. Последний номер:"+result['last_num']);
						document.location.reload();
					}
				});
			});
		});

		$(document).ready(function() {
			$('#delete_sert').click(function(){
				window.location.href = "{% url 'certificates:del_serificates' %}";
			});
		});

		$(document).ready(function() {
			$('#send_sert').click(function(){
				$('.content-blocker').show();
				window.location.href = "{% url 'certificates:send_serificates' %}";
			});
		});


		$(document).ready(function() {
			$('#set_section').click(function(){
				pk = $('#id_section').val();
				if (pk == ''){
					$('#section_warning').modal('show');
				}else{
					$.ajax({
						url: "{% url 'profiles:ajax_set_section' %}",
						data: {
							'pk': pk,
						},
						success: function(data){
							if (data == '1'){
								document.location.reload();
							}else if (data == '0'){
								alert ('Нет доступа!');
							}else{
								$('#section_form').html(data);

								alert ('Свободных мест уже нет');
							}
						}
					});
				}
			});
		});

		$(document).ready(function() {
			$('.filter-table').first().find('td').removeClass('active');
			$('.filter-table').first().find('td').first().addClass('active');

			$('.members').removeClass('hide');

			$('.filter-table td').click(function(){
				$('.filter-table td').removeClass('active');
				$(this).addClass('active');

				pk = $(this).attr('data-pk');
				$('.members').removeClass('hide');
				if (pk != ''){
					$('.members').addClass('hide');
					$('.members[data-pk=' + pk + ']').removeClass('hide');
				}

				cnt = 1;
				$('.members').each(function(){
					if (!$(this).hasClass('hide')){
						$(this).find('th').text(cnt.toString());
						cnt ++;
					}
				});

			});
		});

		$(document).ready(function() {
			$('.status-cell').click(function(){
				pk = $(this).attr('href');
				status = $(this).attr('data-status');

				if (status == '1'){
					$(this).text('Участие без доклада');
					$(this).attr('data-status', '2');
					status_new = '2'
				}else{
					$(this).text('Выступление с докладом');
					$(this).attr('data-status', '1');
					status_new = '1'
				}

				url = "{% url 'profiles:ajax_change_status' %}";

				$.ajax({
					url: url,
					data: {
						'pk': pk,
						'status': status_new,
					},
					success: function(data){
					}
				});

				return false;
			});
		});
		
	</script>
{% endblock %}