{% extends "base.html" %}
{% load static %}

{% block content %}
	{% if not user.is_authenticated %}
		<div class="text-center mt-3 pt-5">
			<h4>Всероссийская научно-практическая конференция</h4>
			<h1>"КУЛЬТУРА, ИСКУССТВО, ОБРАЗОВАНИЕ:</h1>
			<h1>ПОИСКИ И ОТКРЫТИЯ",</h1>
			<h4><em>посвященная Году Памяти и Славы</em></h4>
		</div>
		{% if register_flag %}
			<div class="text-center mt-5 pb-5">
				<h4><a href="{% url 'register' %}" class="text-danger">Зарегистрироваться</a></h4>
			</div>
			<div class="text-center mt-5 pb-5">
				<h4>Регистрация закончится 28 октября 2020 года в 23:59 (по московскому времени).</h4>
			</div>
		{% else %}
			<div class="text-center mt-5 pb-5 text-danger">
				<h4>Регистрация завершена.</h4>
			</div>
		{% endif %}
	{% else %}
		
			<div class="text-center mt-3 pt-5">
				<h4>Всероссийская научно-практическая конференция</h4>
				<h1>"КУЛЬТУРА, ИСКУССТВО, ОБРАЗОВАНИЕ:</h1>
				<h1>ПОИСКИ И ОТКРЫТИЯ",</h1>
				<h4><em>посвященная Году Памяти и Славы</em></h4>
			</div>
			<div class="text-center mt-5 pb-5"> 
				<h4>Конференция пройдет <b class="text-danger">29 октября 2020 года с 11-00 до 14-00</b> (по московскому времени) c использованием платформы <b class="text-danger">Zoom</b>.</h4>

				<h4 class="mt-5">Подключиться к конференции Zoom:</h4>

				<h4><a href="https://zoom.us/j/99751367536?pwd=T25sZWJlb21maVJPVDNQd0lxMDhIdz09" target="_blank">Перейти для подключения</a></h4>

				<h4 class="mt-5">Идентификатор конференции: <b>997 5136 7536</b></h4>
				<h4>Код доступа: <b>434421</b></h4>
				<h4 class="mt-5">Одно касание на мобильном телефоне:</h4>
				<h4>+74952839788,,99751367536#,,,,,,0#,,434421# Российская Федерация</h4>
				<h4>+74999516379,,99751367536#,,,,,,0#,,434421# Российская Федерация</h4>
				 
				<h4 class="mt-5">Набор в зависимости от местоположения</h4>
				<h5><i>+7 495 283 9788 Российская Федерация</i></h5>
				<h5><i>+7 499 951 6379 Российская Федерация</i></h5>
				<h5><i>+7 499 951 6380 Российская Федерация</i></h5>
				<h5><i>+7 812 426 8988 Российская Федерация</i></h5>
				<h5><i>Идентификатор конференции: <b>997 5136 7536</b></i></h5>
				<h5><i>Код доступа: <b>434421</b></i></h5>

				<p class="mt-5">Найдите свой местный номер: <a href="https://zoom.us/u/acDDauRO6V" target="_blank">Перейти по ссылке</a></p>

				<h4 class="mt-5">Прямая трансляция конференции на YouTube: <a href="https://youtu.be/gy4TyECAV54" target="_blank">Перейти</a>
				
			</div>
			{% if user.profile.moderator_access %}
				<div class="text-left mt-3 px-5">
					<b>СПИСОК ДОКЛАДЧИКОВ</b>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-25 align-middle">Фамилия Имя Отчетво</th>
								<th scope="col" class="table-cel-width-35 align-middle">Место работы</th>
								<th scope="col" class="table-cel-width-15 align-middle">e-mail</th>
								<th scope="col" class="table-cel-width-15 align-middle">Тема доклада</th>
								<th scope="col" class="table-cel-width-5 align-middle">Файл</th>
							</tr>
						</thead>
						<tbody>
							{% for usr in speakers %}
								<tr class="{%if usr == user.profile %}table-info{% endif %}">
									<th scope="row" class="align-middle">{{ forloop.counter}}</th>
									<td class="align-middle">{{ usr.get_full_name }}</td>
									<td class="align-middle">{{ usr.work_place }}</td>
									<td class="align-middle">{{ usr.user.email }}</td>
									<td class="align-middle">{{ usr.report_name }}</td>
									<td class="align-middle">
										{% if usr.report_file %}
											<a href="{{ usr.report_file.url }}" target="_blank">скачать</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% if user.profile.admin_access %}
					<div class="text-left mt-5 px-5"></div>
				{% endif %}
			{% endif %}

			{% if user.profile.admin_access %}
				<div class="text-left mt-3 px-5">
					<b>СПИСОК УЧАСТНИКОВ</b>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-25 align-middle">Фамилия Имя Отчетво</th>
								<th scope="col" class="table-cel-width-35 align-middle">Место работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">e-mail</th>
								<th scope="col" class="table-cel-width-10 align-middle">Статус</th>
								<th scope="col" class="table-cel-width-5 align-middle">Администратор</th>
								<th scope="col" class="table-cel-width-5 align-middle">Модератор</th>
							</tr>
						</thead>
						<tbody>
							{% for usr in users %}
								<tr class="{%if usr == user.profile %}table-info{% endif %}">
									<th scope="row" class="align-middle">{{ forloop.counter}}</th>
									<td class="align-middle">{{ usr.get_full_name }}</td>
									<td class="align-middle">{{ usr.work_place }}</td>
									<td class="align-middle">{{ usr.user.email }}</td>
									<td class="align-middle">{% if usr.speaker %}Докладчик{% else %}Участник{% endif %}</td>
									<td class="align-middle text-center">
										<input type="checkbox" id="{{usr.id }}" class="checking-admin form-control" {% if usr.admin_access %} checked{% endif %} {%if usr == user.profile %}disabled{% endif %}>
									</td>
									<td class="align-middle text-center">
										<input type="checkbox" id="{{usr.id }}" class="checking-moderate form-control" {% if usr.moderator_access %} checked{% endif %} >
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					{% if users %}
						<div class="row">
							<div class="col-md-12 text-right pb-3">
								<form action="" method="post"> {% csrf_token %}
									<input type="submit" value="Выгрузить список">
								</form>
							</div>
						</div>
					{% endif %}
				</div>
			{% endif %}
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.checking-admin').change(function (){
				var user_id = $(this).attr('id');
				var access = $(this).prop('checked');

				$.ajax({
					url: "{% url 'change_admin_access' %}",
					dataType: 'json',
					data: {
						'user_id': user_id,
						'access': access
					},
					success: function(data){
						alert ('Статус изменен.');
					}
				});
			});
		});

		$(document).ready(function() {
			$('.checking-moderate').change(function (){
				var user_id = $(this).attr('id');
				var access = $(this).prop('checked');

				$.ajax({
					url: "{% url 'change_moderate_access' %}",
					dataType: 'json',
					data: {
						'user_id': user_id,
						'access': access
					},
					success: function(data){
						alert('Статус изменен.');
						document.location.reload();
					}
				});
			});
		});
	</script>
{% endblock %}