<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<p>Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!</p>
		<br>
		<p>Благодарим Вас за участие в конференции.</p>
		<p>Ваш именной сертификат во вложении к этому письму. Также его можно скачать на главной странице портала конференции в Вашем личном кабинете.</p>
		<br>
		<p>По всем орг.вопросам можно обратиться по адресу nadsevr@yandex.ru.</p>
		<p>По техническим вопросам - ArtVisionScience@GMail.com.</p>
		<br>
		<br>
		<p>Данное письмо сформировано системой автоматически и не требует ответа.</p>
	</body>
</html>


