{% autoescape off %}
Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!

Для подключения к конференции на платформе Zoom перейдите по ссылке:
https://zoom.us/j/99751367536?pwd=T25sZWJlb21maVJPVDNQd0lxMDhIdz09

Или воспользуйтесь идентификатором и кодом доступа:
Идентификатор конференции: 997 5136 7536
Код доступа: 434421

Одно касание на мобильном телефоне
+74952839788,,99751367536#,,,,,,0#,,434421# Российская Федерация
+74999516379,,99751367536#,,,,,,0#,,434421# Российская Федерация
 
Набор в зависимости от местоположения
        +7 495 283 9788 Российская Федерация
        +7 499 951 6379 Российская Федерация
        +7 499 951 6380 Российская Федерация
        +7 812 426 8988 Российская Федерация
Идентификатор конференции: 997 5136 7536
Код доступа: 434421

Найдите свой местный номер: https://zoom.us/u/acDDauRO6V

Так же будет осуществлятся прямая трансляция конференции в YouTube: https://youtu.be/gy4TyECAV54


Вся информация доспупна в Вашем личном кабинете.
Пожалуйста перепроверьте и, при необходимости, исправьте Вышу личную информацю. Это можно сделать, нажав на Ваше имя в левом верхнем углу экрана. Имеено эти данные будут указаны в сертификате.
{% endautoescape %}