<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<p>Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!</p>
		<br>
		<p>C 20 ноября 2020 года портал conf.tdpi.ru поддержки конференции будет недоступен. Все Выши личные данные, указанные при регистрации, будут полностью удалены.</p>
		<p>До этой даты Ваш имееной сертификат можно скачать на главной странице портала конференции в Вашем личном кабинете, если Вы не сделали этого ранее.</p>
		<br>
		<p>Благодарим, что Вы были с нами.</p>
		<br>
		<p>С уважением,<br>
		авторы портала - <b>ArtVisionScience</b></p>
		<br>
		<br>
		<p>Данное письмо сформировано системой автоматически и не требует ответа.</p>
	</body>
</html>
