<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<p>Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!</p>
		<br>
		<p>Для подключения к конференции на платформе Zoom перейдите по ссылке:
		<a href="https://zoom.us/j/99751367536?pwd=T25sZWJlb21maVJPVDNQd0lxMDhIdz09">Перейти</a></p>
		<br>
		<p>Или воспользуйтесь идентификатором и кодом доступа:</p>
		<p>Идентификатор конференции: 997 5136 7536</p>
		<p>Код доступа: 434421</p>
		<br>
		<p>Одно касание на мобильном телефоне</p>
		<p>+74952839788,,99751367536#,,,,,,0#,,434421# Российская Федерация</p>
		<p>+74999516379,,99751367536#,,,,,,0#,,434421# Российская Федерация</p>
		<br>
		<p>Набор в зависимости от местоположения</p>
		<p>+7 495 283 9788 Российская Федерация</p>
		<p>+7 499 951 6379 Российская Федерация</p>
		<p>+7 499 951 6380 Российская Федерация</p>
		<p>+7 812 426 8988 Российская Федерация</p>
		<p>Идентификатор конференции: 997 5136 7536</p>
		<p>Код доступа: 434421</p>
		<br>
		<p>Найдите свой местный номер: <a href="https://zoom.us/u/acDDauRO6V">Перейти</a></p>
		<br>
		<p>Так же будет осуществлятся прямая трансляция конференции в YouTube: <a href="https://youtu.be/gy4TyECAV54">Перейти</a></p>
		<br>
		<br>
		<p>Вся информация доспупна в Вашем личном кабинете.</p>
		<p>Пожалуйста перепроверьте и, при необходимости, исправьте Вышу личную информацю. Это можно сделать, нажав на Ваше имя в левом верхнем углу экрана. Имеено эти данные будут указаны в сертификате.</p>
	</body>
</html>


