{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-md-6 mx-auto mb-5">
			<img src="{% static 'img/register_logo.jpg'%}" class="img-fluid rounded" width="100%">
		</div>
	</div>
	<h4 class="display-5 text-center">Регистрация участника семинара</h4>
	<div class="row">
		<div class="col-md-6 mx-auto mb-5">
			<p class="text-center">Для регистрации дополнительных участников без указания их электронной почты, зайдите в раздел <b>"ДОП. УЧАСТНИКИ"</b> в верхней части экрана.</p>


			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				{{form.as_p}}
				<div class="text-center mb-5">
					Нажимая на кнопку ЗАРЕГИСТРИРОВАТЬСЯ, Вы даете согласие на <u><a href="{% url 'policy' %}" target="_blank">обработку персональных данных</a></u>.
				</div>
				<div class="row align-middle">
					<div class="col-md-6 text-left">
						<a href="{% url 'home' %}">Вернуться на главную</a>
					</div>
					<div class="col-md-6 text-right">
						<input type="submit" value="Зарегистрироваться">
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
